

<h1>All Your Tweets</h1>
<div class="tweets">
<% if @tweets.length > 0  %>
    <% @tweets_html.each do |tweet_html| %>
    <%= raw(tweet_html) %><br>
    <% end %>
<% else %>
    <%= link_to "Click here to create more tweets", new_tweet_path %>
<%end %>
</div>
