<h1>All your tweets</h1>
<% if @tweets.length > 0  %>
    <% @tweets_html.each do |tweet_html| %>
    <div><%= raw(tweet_html) %></div><br>
    <% end %>
<% else %>
    <%= link_to "Click here to create more tweets", new_tweet_path %>
<%end %>

