/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .logo {
  width: 150px;
  position: relative;
  left: 30px;
}

.nav {
  display: inline-block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.nav-bar > ul > .nav-item:hover {
  opacity: .5;
  border-bottom-color: #f7f45e;
}
 
.nav-item-container {
  margin: 12px;
}
.nav-item {
  color: white;
  width: 100px;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 4px solid #FDFDFD;

}

#welcome-message {
  color: gray;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav > ul {
  display: inline-flex;
  margin-left: 8vw;
  top:13px;
}
.nav > ul > li {
  margin-right: 40px;
  cursor: pointer;
  
  list-style: none;
  font-size: 1em;
  font-family: helvetica;
}

.nav > ul > li > .nav-item {
  padding-right: 20px;
}



.nav.nav-bar {
  background-color: #FDFDFD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#content {
  padding: 90px;
  margin-top: 100px;
  text-align: center;
}

h1, h2, h3, h4  {
  font-family: helvetica;
}

.button {
  border-radius: 25px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.button:hover {
  background-color: #3e8e41
}

.twitter-tweet {
 margin: 0px auto;
}

#topic {
  font-size: 20px;
}

.flash_text {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0px auto;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: black;
}
.flash_text:before {
    display: block;
    padding-left: 5px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
    
}
