/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .logo {
  width: 5vw;
  position: relative;
  left: 30px;
  padding: 5px;
  margin: 0;
  margin-top: 10px;
}

.nav {
  display: inline-block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.nav-bar > ul > .nav-item:hover {
  opacity: .5;
  background-color: white);
}

.nav-item-container {
  display: inline-block;
  position: absolute;
  right: 10px;
}
.nav-item {
  color: white;
  
}
.nav > ul {
  display: inline-flex;
  margin-left: 8vw;
  top:13px;
}
.nav > ul > li {
  padding-right: 70px;
  cursor: pointer;
  list-style: none;
  font-size: 1em;
  font-family: helvetica;
}

.nav > ul > li > .nav-item {
  padding-right: 20px;
}



.nav.nav-bar {
  background-color: white;
}


#content {
  padding: 90px;
  text-align: center;
}

h1, h2, h3 {
  font-family: helvetica;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tweets {

}