<%= stylesheet_link_tag '/assets/home.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<body class="content">
<h1>Welcome to Tweet-A-Fact!</h1>

<h3> Please log in or create an account to begin sending out tweets.</h3>

<br><br><br>
<div id="box"><%= image_tag ("/assets/dwight_fact_meme.jpg") %>
</div>

        <% if flash[:authorization_message] %>
   <h2> <%= flash[:authorization_message]%></h2>
    <% end %>

</body>


